:root{
    --primary-color: hsl(0, 0%, 100%);
    --secondary-color: hsl(0, 0%, 0%);
    --accent-color: hsla(0, 0%, 50%);
    --overlay-color:hsla(0, 0%, 96%,0.5);
    
    --font-family-primary: 'Josefin Sans', sans-serif;
    --font-family-secondary: 'Alata', sans-serif;
    
    --transition-duration: 0.3s;

    --font-size:15px;

    --font-weight-primary: 400;
    --font-weight-secondary: 300;

    --main-gap:10rem;
    --main-gap-secondary: 6rem;

}
