@use '../global/util' as u;

.main__header{
    background-image: url("../images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:100% 100%;
    height: 650px;

    gap:6rem;

    display: flex;
    flex-direction: column;

    @include u.breakpoint('small'){
        background-image: url("../images/mobile/image-hero.jpg");
        gap: 6rem;
    }

    .header_block{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top:2rem;

        padding-inline: 10rem;
        

        ul{
            display: flex;
            flex-direction: row;
            gap: 2rem;

            li{
                a{
                    color: var(--primary-color);
                    padding-bottom: 1em;
                    // border-bottom: 2px solid transparent;
                    position: relative;
                    font-size: 1.2rem;

                    &::after{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 50%;
                        height: 2px;
                        background-color: transparent;
                        transition: background-color 0.3s ease, width 0.3s ease;

                    }

                    &:hover::after{
                        background-color: var(--primary-color);
                        width: 60%;
                    }
                }
                
            }
            
        }
        .mobile-nav-toggle{
            display: none;
        }

        @include u.breakpoint('large'){
            padding-inline: 4rem;
            margin-top: 3rem;
            ul{
                gap: 1rem;
            }

        }

        @include u.breakpoint('small'){

            margin-top: 2rem;
            padding-inline: 2rem;
            .logo{
                z-index: 9999;
                width: 180px;
            }

            .primary-navigation{
                gap: 1em;
                font-size: 1.2rem;
                position: fixed;
                z-index: 1000;
                inset: 0 0 0 0;
                background-color:var(--secondary-color);
                flex-direction: column;
                padding: min(30vh,14rem) 2rem;
                margin: 0;

                transform: translateX(100%);
                transition: transform 450ms ease-out;

                &[data-visible=true]{
                    transform: translateX(0%);
                }

                & a{
                    text-transform: uppercase; 
                    &::after{
                        display: none;
                    }
                }
            }

            .mobile-nav-toggle{
                display: block;
                position: absolute;
                background-image: url("../images/icon-hamburger.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-color: transparent;
                width: 3rem;
                aspect-ratio: 1;
                top: 1.4rem;
                right: 2rem;
                z-index: 9999;

                border: none;
                outline: none;

                &[aria-expanded="true"]{
                    background-image: url("../images/icon-close.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-color: transparent;
                }
            }
        }

    }

    .header__heading{
        color: var(--primary-color);
        border: 2px solid var(--primary-color);
        font-size: 4rem;
        font-weight: var(--font-weight-secondary);
        margin-left: 10rem;

        padding: 2rem;
        width: 640px;
        line-height: 1.2;

        // padding-right: 2rem !important;

        @include u.breakpoint('large') {
            border: 2px solid var(--primary-color);
            font-size: 3.2rem;
            font-weight: var(--font-weight-secondary);
            margin-left: 4rem;
    
            padding: 2rem;
            width: 440px;
            line-height: 1.2;
        
        }

        @include u.breakpoint('small'){
            font-size: 2.4rem;
            margin-left:2rem;
            
            padding: 2rem;
            width: 320px;
            line-height: 1.2;
            
        }
 
    }
}